<div class="app">
    <div class="authentication bg" style="background-image: url('../../assets/images/others/img-32.jpg')">
        <div class="page-500 container">
            <div class="full-height">
                <div class="vertical-align full-height pdd-horizon-70">
                    <div class="table-cell">
                        <div class="text-center">
                            <h1 class="font-size-100 text-white ls-3 lh-1"><b>500</b></h1>
                            <p class="font-size-28 text-light text-white text-opacity lh-1-4 mrg-btm-30">Uh Sorry, something went<br class="hidden-sm hidden-xs">  wrong at our server.</p>
                            <a href="" class="btn btn-info">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
