<div id="dashboard">
  <% unless current_user.onboarded? %>
    <div class="text-center">
      <button id="get-started-button" class="btn btn-primary"><%= t :get_started_now_bang %></button>
    </div>

    <div id="onboarding" style="display: none">
      <%= render partial: 'onboarding/wizard' %>
    </div>
  <% else %>
    <%= render partial: 'shared/annual_view' %>
  <% end %>
</div>
