<div id="modals">
  <%= render 'modal/modal_goal' %>
  <%= render 'modal/modal_life_event' %>
  <%#= render partial: 'modal/modal_note', locals: { note: Note.new } %>
  <%= render 'modal/modal_web_link' %>
  <div id="modal-note-edit"></div>
</div>
