<div id="goals">
    <% @role_categories.each do |role_category| %>
    <div class="row">
      <div class="flex-md-column flex-md-nowrap">
        <div class="role-category">
          <a href="<%= view_path role_category.label %>">
            <span class="icon-holder">
              <i class="<%= role_category.icon_class %>"></i>
            </span>
            <%= role_category.short_name %>
          </a>
        </div>
      </div>
      <div class="flex-md-column">
        <% role_category.goals.map(&:text).each do |goal| %>
          <span class="label label-default"><%= goal %></span>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
