<div id="time-spent">
  <canvas id="time-spent-chart"></canvas>
  <% if @time_quote %>
    <div class="quote time-quote">
      <i class="fa fa-quote-left"></i>
      <span><%= @time_quote %></span>
      <i class="fa fa-quote-right"></i>
    </div>
  <% end %>
</div>

<% content_for :footer do %>
  <script>
    $(() => {
      const $time_spent_chart = $('#time-spent-chart');

      new Chart($time_spent_chart, {
        type: 'pie',
        data: {
          datasets: [{
            data: <%= @time_spent_values %>,
            backgroundColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',
              'rgba(75, 192, 192)',
              'rgba(153, 102, 255)'
            ]
          }],
          labels: <%= @time_spent_labels.to_s.html_safe %>
        },

      });
    });
  </script>
<% end %>
