<div class="app">
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon bg" style="background-image: url('/assets/others/img-30.jpg')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <img class="img-responsive inline-block" src="/assets/logo/logo.png" alt="">
                                                        <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">Login</h2>
                                                    </div>
                                                    <p class="mrg-btm-15 font-size-13">Please enter your user name and password to login</p>
                                                    <form>
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" placeholder="User name">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Password">
                                                        </div>
                                                        <div class="checkbox font-size-13 inline-block no-mrg-vertical no-pdd-vertical">
                                                            <input id="agreement" name="agreement" type="checkbox">
                                                            <label for="agreement">Keep Me Signed In</label>
                                                        </div>
                                                        <div class="pull-right">
                                                            <a href="">Forgot Password?</a>
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <button class="btn btn-info">Login</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
