<div>
<!--  <div class="text-center">-->
    <%#= image_tag 'logo/logo' %>
<!--  </div>-->

  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-block">
          <%= render partial: 'devise/new_session' %>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-block">
          <%= render partial: 'devise/new_registration' %>
        </div>
      </div>
    </div>
  </div>
</div>
