<!--<div id="sign-in" class="card">-->
<!--  <div class="card-block">-->
<!--    <div class="card-body">-->
      <%= render partial: 'devise/new_session' %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
