/*---------------------------------------------------------------------------
  Template: Espire - Angular Web App Admin Template
  Author: Theme_Nate
----------------------------------------------------------------------------*/

@import 'mixins'; // Mixins
@import 'variables'; // Variables


/*---------------------------------
-------------- common -------------
---------------------------------*/
@import 'common/general'; //                 general
@import 'common/helpers'; //                 helpers
@import 'common/side-nav'; //                side-nav
@import 'common/side-panel'; //              side-panel
@import 'common/header'; //                  header
@import 'common/footer'; //                  footer
@import 'common/page-container'; //          page-container
@import 'common/widgets'; //                 widgets
@import 'common/rtl'; //                     rtl
@import 'common/themes'; //                  themes
@import 'common/theme-configurator'; //      theme-configurator


/*---------------------------------
------------ plugins -------------
---------------------------------*/
@import 'plugins/slick'; // 
@import 'plugins/nouislider'; // 
@import 'plugins/selectize'; // 
@import 'plugins/noty'; // 
@import 'plugins/datatables'; // 
@import 'plugins/datepicker'; //
@import 'plugins/summernote'; //
@import 'plugins/nvd3'; // 
@import 'plugins/rickshaw'; // 
@import 'plugins/sparkline'; // 


/*---------------------------------
------------ elements -------------
---------------------------------*/
@import 'elements/buttons'; //               buttons
@import 'elements/modal'; //                 modal
@import 'elements/form'; //                  form
@import 'elements/list'; //                  list
@import 'elements/label'; //         		 label
@import 'elements/card'; //                  card
@import 'elements/page-title'; //            page title
@import 'elements/breadcrumb'; //            breadcrumb
@import 'elements/dropdown'; //              dropdown
@import 'elements/chat'; //                  chat
@import 'elements/todo'; //                  todo
@import 'elements/tabs'; //                  tabs
@import 'elements/accordion'; //             accordion
@import 'elements/noticfication'; //         noticfication
@import 'elements/progress-bar'; //          progress bar
@import 'elements/tables'; //   	         tables
@import 'elements/wizard'; //   	         wizard
@import 'elements/maps'; //   	   	         maps
@import 'elements/authentication'; //        authentication
@import 'elements/icons'; //                 icons


/*---------------------------------
-------------- apps ---------------
---------------------------------*/
@import 'apps/calendar'; //                  calendar
@import 'apps/email'; //                     email
@import 'apps/social'; //                    social
@import 'apps/gallery'; //                   gallery

a {
  cursor: pointer;
}

h1 {
  font-size: 3em !important;
}

.logo {
  margin-top: 0.2em;
}

#main-fab {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 1040;

  span {
    display: list-item;
    list-style: none;

    button {
      margin-bottom: 5px;

      //&.notes {
      //  background-color: mediumseagreen;
      //}
    }

    &.gone {
      display: none !important;
    }
  }

  #fab-toggle {
    background-color: indianred;
  }
}

#calendar-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;

  button {
    margin-bottom: 1px;

    &.save {
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.web-link {
  width: 350px;

  .favicon {
    width: 32px;
    height: 32px;
  }

  .card-text {
    max-width: 300px;
  }

  cursor: pointer;

  .card-body:hover {
    background: #fbfbfb;
  }

  .card-title {
    font-weight: bold;
    font-size: large;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fa-external-link {
    font-size: 2em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

#web-link-frame {
  width: 100%;
  height: 800px;
  margin: 1em;
  overflow: auto;
}

#site-info {
  .col-md-1 {
    font-weight: bold;
    text-align: right;
  }
  margin-bottom: 2em;
}

#view-accordion {
  .card {
    margin: 0;
  }

  .card-header {
    cursor: pointer;

    h5 {
      font-weight: bold;
    }
  }

  .link-card {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

::placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

#modal-note {
  .toggle-controls {
    font-size: 12px;
  }
}

.modal-footer {
  button.delete {
    position: absolute;
    left: 2em;
  }
}

#role-category-sortable {
  list-style-type: none;
  cursor: grabbing;
  margin: 0;
  padding: 0;

  li {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

#delete-note-modal, #delete-goal-modal {
  z-index: 9999;
}
