// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  label {
    font-weight: bold;
    font-size: large;
  }

  input[type=radio] {
    width: 1.5em;
    height: 1.5em;
  }
}
