<span id="main-fab">
  <span class="content gone">
    <button type="button" id="fab-notes" class="mdc-fab notes" aria-label="Note" data-toggle="modal" data-target="#note-modal">
      <span class="mdc-fab__icon material-icons">notes</span>
    </button>
  </span>
  <span>
    <button type="button" id="fab-toggle" class="mdc-fab toggle">
      <span class="mdc-fab__icon material-icons">add</span>
    </button>
  </span>
</span>
