<span id="main-fab">
  <span class="content gone">
    <button class="mdc-fab notes" aria-label="Note">
      <span class="mdc-fab__icon material-icons">notes</span>
    </button>
  </span>
  <span>
    <button id="fab-toggle" class="mdc-fab toggle">
      <span class="mdc-fab__icon material-icons">add</span>
    </button>
  </span>
</span>
